@font-face {
  font-family: "Lato Black";
  src: url(./assets/fonts/Lato-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url(./assets/fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono Bold";
  src: url(/assets/fonts/JetBrainsMono-Bold.ttf) format("truetype");
}
